# ===============================================
# CAROUSEL TV - PARÁMETROS DEL ENTORNO
# ===============================================
INTERVALO_SEGUNDOS=60

# --- REPORTE 1 (DevExpress) ---
REPORT_1_URL=https://urldelemployeekiosk.com
REPORT_1_USER=admin1
REPORT_1_PASS=123password
REPORT_1_POST=

# --- REPORTE 2 (Custom Site) ---
REPORT_2_URL=https://sitedos.com
REPORT_2_USER=admin2
REPORT_2_PASS=456password
REPORT_2_POST=https://sitedos.com/dashboard
